.lineItemAuthor {
  color: white;
  display: flex;
  gap: 10px;
  font-family: "Montserrat", sans-serif !important;
  transition: all 0.3s;
  padding: 10px !important;
  color: white !important;
  background-color: black !important;
  text-decoration: none !important;
  img {
    border-radius: 100%;
  }
  p {
    font-size: 12px !important;
    font-weight: 600;
    text-decoration: none !important;
  }
}
.lineItemAuthor--selected {
  color: white;
  display: flex;
  gap: 10px;
  font-family: "Montserrat", sans-serif !important;
  transition: all 0.3s;
  padding: 10px !important;
  color: white !important;
  background-color: rgb(127, 127, 127) !important;
  text-decoration: none !important;
  img {
    border-radius: 100%;
  }
  p {
    font-size: 12px !important;
    font-weight: 600;
    text-decoration: none !important;
  }
}
